[core]
	editor = nvim
[alias]
	a = add
	ap = add -p
	b = branch
	c = commit
	d = diff
	ds = diff --staged
	l = log
	p = push
	s = status
	br = branch --show-current
	pl = pull
	st = status -uno
	curr = branch --show-current
	lc = "!fn() { \
		git log -\"$1\" --oneline \
		--cherry-mark --left-right \
		\"$2\"; \
		}; fn"
[diff]
	tool = nvimdiff
[branch]
	sort = committerdate
[column]
	ui = auto
[user]
	name = bazko1
