[core]
	editor = nvim
[alias]
	a = add
	s = status
	st = status -uno
	c = commit
	l = log
	b = branch
	curr = branch --show-current
	lc = "!fn() { \
		git log -\"$1\" --oneline \
		--cherry-mark --left-right \
		\"$2\"; \
		}; fn"
[diff]
	tool = nvimdiff
[branch]
	sort = committerdate
[column]
	ui = auto
[user]
	name = bazko1
